body {
    padding-top: 15px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.headerLogo {
    margin-top:0px
}

.headerLogo a:hover {
    text-decoration: none!important
}

mark {
    padding: 0px 0px 0px 0px !important;
    background-color: yellow
}

footer {
   color: #d0d0d0	
}

.btn-info {
    background-color: #004F72;
    border-color: #004F72;
}

.btn-info:hover {
    background-color: #e60a24;
    border-color: #e60a24;
}