@model IEnumerable<IntranetPublic.StaffItem>

@{
    string[] topItems =
        {
            "Ředitel ústavu",
            "Sekretářka ředitele",
            "Tajemník pro provoz",
            "Tajemník pro výuku",
            "Tajemník pro oborové studium",
            "Ekonomická pracovnice",
            "Knihovnice",
            "Technický pracovník"
        };

    string[] departments =
        {
            "D",
            "N",
            "G",
            "S",
            "O",
            "DK"
        };
}

@{
    var toplist = (from fc in topItems join m in Model on fc equals m.FUNKCE1 select m).ToArray();

    if (toplist.Length > 0) {
<div class="panel panel-info">
    <div class="panel-body">

           @foreach (var item in toplist)
           {
               Html.RenderPartial("_StaffItem", item);
           }
    </div>
</div>
        }
    }


@foreach (var d in (from d1 in departments join d2 in (IEnumerable<Department>)ViewBag.departments on d1 equals d2.KOD select d2))
{
    var list = Model
        .Where(i => !topItems.Contains(i.FUNKCE1) && i.ODBOR == d.KOD)
        .OrderBy(m => m.FUNKCE1 != "" ? 0 : 1)
        .ThenBy(m => m.JMENO.ToLower().Contains("prof.") ? 0 : 1)
        .ThenBy(m => m.JMENO.ToLower().Contains("doc.") ? 0 : 1)
        .ThenBy(m => m.PRIJMENI).ToArray();

    if (list.Length == 0)
    {
        continue;
    }

    <a name="@("dep" + d.KOD)"></a>
    <div class="panel panel-info">
        <div class="panel-heading"><h4>@(ViewBag.lang == "cz" ? d.NAZEV_1029: d.NAZEV_1033)</h4></div>
        <div class="panel-body">

            @foreach (var item in list)
            {
                Html.RenderPartial("_StaffItem", item);
            }
        </div>
    </div>
}