
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload</title>

    <script type='text/javascript'>window.parent.CKEDITOR.tools.callFunction(@Request.QueryString["CKEditorFuncNum"], '@ViewData["FileUrl"]'/*, 'O.K.'*/);</script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
